@font-face {
    font-family: 'Elianto';
    src: url('Elianto Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PingFang SC Thin';
    src: url('PingFang SC Thin.ttf') format('truetype');
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 530%;
    overflow-y: scroll;
    background: url('background.png') repeat-y center top, #000;
    background-size: 100%;
    background-color: black;
    animation: backgroundMove 10s infinite cubic-bezier(0.25, 0.1, 0.25, 1);
}

@keyframes backgroundMove {
    0% {
        background-position: center top;
    }
    50% {
        background-position: center 1.5%;
    }
    100% {
        background-position: center top;
    }
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'PingFang SC Thin', Arial, sans-serif;
}

.title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.electronics-title {
    font-family: 'Elianto', sans-serif;
    font-size: 8em;
    text-align: center;
    white-space: nowrap;
    animation: fadeInSlideUp 1.8s ease-in-out;
    margin-bottom: -20px;
}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.floating-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: fadeInSlideUp 1s ease-in-out;
    margin-bottom: 10px !important;
}

.content-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    width: 100%;
    max-width: 800px;
    margin-top: 10vh;
    text-align: left;
    padding: 0 20px;
}

.fuzzy {
    position: absolute;
    bottom: 0;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: float 7s ease-in-out, fadeInOut 7s ease-in-out;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-100vh) rotate(360deg);
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10%, 40% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.large {
    font-size: 2.5em;
    margin: 1.5em 0 0.5em 0;
    animation: fadeInSlideUp 2s ease-in-out;
    font-weight: bold;
}

.medium {
    font-size: 2em;
    margin: 1.5em 0 0.01em 0;
    animation: fadeInSlideUp 2s ease-in-out;
    font-weight: bold;
}

.small {
    font-size: 1.5em;
    margin: 1em 0;
    animation: fadeInSlideUp 2s ease-in-out;
}

.formula {
    font-size: 2em;
    margin: 1em 0;
}

.formula-caption {
    font-size: 1em;
    color: #ccc;
    margin-top: -0.5em;
    margin-bottom: 1em;
    animation: fadeInSlideUp 2s ease-in-out;
}

.formula-caption.center-formula-caption {
    text-align: center;
    animation: fadeInSlideUp 2s ease-in-out;
}

.inline-block {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    text-align: center;
    animation: fadeInSlideUp 2s ease-in-out;
}

img {
    width: 100%;
    height: auto;
    animation: fadeInSlideUp 2s ease-in-out;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typewriter 2s steps(20) 1s 1 normal both;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s 1s, transform 0.5s 1s;
}

.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
}

a {
    color: white;
    font-family: 'PingFang SC Thin', Arial, sans-serif;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .electronics-title {
        font-size: 5em;
    }

    .large {
        font-size: 1.8em;
    }

    .medium {
        font-size: 1.5em;
    }

    .small {
        font-size: 1.2em;
    }

    .content {
        padding: 0 10px;
    }
}

@media (max-width: 480px) {
    .electronics-title {
        font-size: 3em;
    }

    .large {
        font-size: 1.5em;
    }

    .medium {
        font-size: 1.2em;
    }

    .small {
        font-size: 1em;
    }

    .content {
        padding: 0 5px;
    }
}
